.wrapper {
    margin-bottom: 16px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.rotateArrow {
    transform:rotate(180deg);
}

.text {
    margin-top: 16px;
}